/*
 * Estilos de tu proyecto
 */

 /* Códigos que vienen por defecto */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Cuerpo del código */
body {
	margin: 0 auto;
}

/* Nav */
.container {
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 14px;
	padding-right: 14px;
}

.container:before, .container:after {
	content: " ";
	display: table;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container:after {
	clear: both;
}

 * {
 	text-decoration: none;
 	margin-top: 0;
 }

nav {
	background: #2C3E50;
	height: 100px;
	width: 100%;
	padding: 0;
	margin: 0;
	position: fixed;
}

nav h1 {
	/*outline: 1px solid blue;*/
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	color: #fff;
	padding: 0;
	margin-top: 30px;
	display: inline-block;
}

ul {
	/*outline: 1px solid yellow;*/
	padding: 0;
	margin-top: 33px;
	float: right;

}

li {
	/*outline: 1px solid red;*/
	text-decoration: none;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	float: left;
	color: #fff;
	margin: 10px;
	border-top: 0; 
	display: inline-block;
}

.botones li:hover {
	cursor: pointer;
	color: #18BC9C;
}

/*comienzo sección FREELANCER*/
.line {
	border top: 3px solid #fff;
	width: 50%;
	display: inline-block;
}

/* Imágen de fondo de la sección */
.fondo2 {
	background: #18BC9C;
	height: 850px;
	width: auto;
	padding: 0;
	padding-top: 180px;
}

/*Imágen de a primera sección*/
.fondo2 img {
	/*outline: 1px solid red;*/
	display:block;
	margin:auto;
	padding-top: 80px;
	padding-bottom: 30px;
	border-top: 10px;
}

/*Título BROOTSTRAP*/
div h2 {
	/*outline: 1px solid green;*/
	text-transform: uppercase;
	color: #fff;
	font-size: 60px;
	text-align: center;
}

.fondo2 p {
	/*outline: 1px solid green;*/
	color: #fff;
	font-size: 25px;
	text-align: center;
}

/* Nueva sección - portafolio con imágenes*/
.portafolio {
	width: 100%;
	height: 800px;
	padding: 0;
}

.primeros3 {
	background-size: cover;
	float:left;
	width: 340px;
	height: 220px;
}

.segundos3 {
	background-size: cover;
	float:left;
	width: 340px;
	height: 210px;
}

/*Sección con columnas*/
h3 {
	/*outline: 1px solid blue;*/
	color: #212529;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 90px;
}

/* Estrella y líneas*/
.estrella1 {
	float: left;
    font-size: 35px;
    color: #303e52;
}

.linea-izq1, .linea-der1 {
    float: left;
    width: 110px;
    height: 5px;
    background-color: #303e52 ;
    margin-top: -20px;
}

.linea-izq1 {
    margin-left: 600px;
}

.linea-der1 {
    margin-left: 400px;
}

/*Imágenes del Portafolio*/
#uno {
	background-image: url(../assets/images/portfolio/cabin.png);
	margin: 15px;
}

#dos {
	background-image: url(../assets/images/portfolio/cake.png);
	margin: 15px;
}

#tres {
	background-image: url(../assets/images/portfolio/circus.png);
	margin: 15px;
}

#cuatro {
	background-image: url(../assets/images/portfolio/game.png); 
	margin: 15px;
}

#cinco {
	background-image: url(../assets/images/portfolio/safe.png);
	margin: 15px;
}

#seis {
	background-image: url(../assets/images/portfolio/submarine.png);
	margin: 15px;
}

.primeros3:hover {
	cursor: pointer;
}

.segundos3:hover {
	cursor: pointer;
}

/* Sección ABOUT */

.about {
	background: #18BC9C;
	height: 700px;
	width: auto;
	padding: 0;
}

.about h3 {
	color: #fff;
}

/*Estrella y líneas*/
.estrella2{
	float: left;
    font-size: 35px;
    color: #303e52;
}

.linea-izq2, .linea-der2{
    float: left;
    width: 110px;
    height: 5px;
    background-color: #303e52 ;
    margin-top: -20px;
}

.linea-izq2{
    margin-left: 600px;
 }

.linea-der2{
    margin-left: 400px;
}


/*Tabla para las columnas*/
table {
	margin:auto;
	/*outline: 1px solid blue;*/
}

td {
	color: #fff;
	font-family: 'Montserrat', sans-serif; 
	font-size: 25px;
    line-height: 35px;
    padding: 50px;
    vertical-align: top;
    width: 50%;
    padding-bottom: 20px;
}

.columna1 {
	height: 300px;
	width: 500px;
}

.columna2 {
	height: 300px;
	width: 500px;
	margin-top: 0;
}

/* Boton Download */
.download {
	background-color: #18BC9C;
	border: 2px solid #FFF;
	border-radius: 6px;
	padding: 5px 10px;
	padding-bottom: 0;
	margin: 0 40%;
}

.download p {
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
}

.download:hover {
	background-color: #FFF;
	color: #18BC9C;
	cursor: pointer;
	transition: background-color 0.8s ease-out;
}

/* Sección CONTACTME*/
.contactame {
	width: 100%;
	height: 500px;
	padding: 0;
	padding-left: 25%;
	padding-right: 25%;
}

.container1 {
	height: 300px; 
	width: 900px;
	margin: 0;
	padding-bottom: 20px;
}

.contactame h3{
	/*outline: 1px solid yellow;*/
	color: #212529;
	font-size: 50px;
	text-transform: uppercase;
	padding-bottom: 50px;
}

div p{ 
	color: #212529;
	font-size: 27px;
	text-align: left;
	font-family: 'Montserrat', sans-serif; 
}

.contact{
    width: 1000px;
    height: 700px;
}

.contact h1{
    text-transform: uppercase;
    color: #26292e ;
    font-size: 3em;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 630px;
}

/*Estrella y líneas*/

.estrella3{
	float: left;
    font-size: 35px;
    color: #303e52;
}

.linea-izq3, .linea-der3{
    float: left;
    width: 110px;
    height: 5px;
    background-color: #303e52 ;
    margin-top: 20px;
}

.linea-izq3{
    margin-left: 650px;
    margin-right: 35px;
}

.linea-der3{
    margin-left: 50px;
}

/* Formulario de contact me*/
.contact-me{
    width: 900px;
    height: 500px;
    text-align: center;
}

input {
    width: 900px;
    border: none;
    margin-left: 255px;
    border-bottom: 0.5px solid #EDEDEE ;
    font-size: 1.6em;
    font-family: 'Lato',sans-serif;
    padding-bottom: 40px;
}

input:focus{
    outline:0;
}

.nombre, .mail, .telefono, .mensaje{
    width: 800px;
    margin-left: 100px;
    padding-top: 35px;
}

/*Mensaje*/

#mensaj{
	width: 900px;
    font-family: 'Lato',sans-serif;
    font-size: 1.6em;
    border: 0;
    border-bottom: 0.5px solid #EDEDEE ;
    resize: none;
}

.mensaje {
    margin-left: 355px;
}

#mensaj:focus{
    outline: 0;
}

/* Botón de envío */
.but {
	background-color: #18BC9C;
	font-size: auto;
	border-radius: 6px;
	margin: 0 90%;
	margin-left: 750px; 
	color: #fff;
	text-align: center;
	font-size: 20px;
	margin: 0;
	padding: 7px;
	margin: 30px;
	margin-left: 750px;
}

.but:hover {
	cursor: pointer;
	transition: background-color 0.8s ease-out;
}

/* Footer */
.class colum3 a {
	color: #18BC9C;
}

table {
	margin top: 50px;
	/*outline: 1px solid blue;*/
}

td {
	color: #fff;
	font-family: 'Montserrat', sans-serif; 
	font-size: 25px;
    line-height: 35px;
    padding: 50px;
    vertical-align: top;
    width: 50%;
    padding-bottom: 20px;
}

.container2 {
	height: 304px;
	width: 100%;
	font-size: 20px;
	position: relative;
}

.colum1 {
	font-size: 19px;
	height: 150px;
	width: 250px;
	color: #fff;
	position: absolute;
	margin-left: -670px;
}

.colum1 h3 {
	font-size: 15px;
	color: #fff;
	margin-top: 10px;
	text-transform: capitalize;
}

.container2 h2 {
	font-size: 30px;
	margin-bottom: 40px;
}

.colum2 {
	font-size: 19px;
	height: 150px;
	width: 450px;
	margin-top: 0;
	color: #fff;
	position: absolute;
	margin-left: -300px;
}

.colum3 {
	font-size: 19px;
	height: 150px;
	width: 450px;
	margin-top: 0;
	color: #fff;
	position: absolute;
	margin-left: 200px;
}

.colum3 h3 {
	font-size: 15px;
	color: #fff;
	margin-top: 10px;
	text-transform: capitalize;
}

.fondo3 {
	height: 305px;
	width: auto;
	background: #2C3E50;
	padding: 0;
	margin: 0;
}


