/*
 * Estilos de tu proyecto
 */

 /* Códigos que vienen por defecto */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Cuerpo del código */
body {
	margin: 0 auto;
}

/* Comienzo de Nav */
.container {
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 14px;
	padding-right: 14px;
}

.container:before, .container:after {
	content: " ";
	display: table;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container:after {
	clear: both;
}

 * {
 	text-decoration: none;
 	margin-top: 0;
 }

nav {
	background: #2C3E50;
	height: 100px;
	width: 100%;
	padding: 0;
	margin: 0;
	position: fixed;
}

nav h1 {
	/*outline: 1px solid blue;*/
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	color: #fff;
	padding: 0;
	margin-top: 30px;
	display: inline-block;
}

ul {
	/*outline: 1px solid yellow;*/
	padding: 0;
	margin-top: 33px;
	float: right;

}

li {
	/*outline: 1px solid red;*/
	text-decoration: none;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	float: left;
	color: #fff;
	margin: 10px;
	border-top: 0; 
	display: inline-block;
}

/* Comienzo de la Sección */
.line {
	border top: 3px solid #fff;
	width: 50%;
	display: inline-block;
}

/* Imágen de fondo de la sección */
.fondo2 {
	background: #18BC9C;
	height: 850px;
	width: auto;
	padding: 0;
	padding-top: 180px;
}

/*Imágen de a primera sección*/
.fondo2 img {
	/*outline: 1px solid red;*/
	display:block;
	margin:auto;
	padding-top: 80px;
	padding-bottom: 30px;
	border-top: 10px;
}

div h2 {
	/*outline: 1px solid green;*/
	text-transform: uppercase;
	color: #fff;
	font-size: 60px;
	text-align: center;
}

.fondo2 p {
	/*outline: 1px solid green;*/
	color: #fff;
	font-size: 25px;
	text-align: center;
}

/* Nueva sección que contiene al portafolio con imágenes*/
.portafolio {
	width: 100%;
	height: 800px;
	padding: 0;
}

.primeros3 {
	background-size: cover;
	float:left;
	width: 340px;
	height: 220px;
}

.segundos3 {
	background-size: cover;
	float:left;
	width: 340px;
	height: 210px;
}

/*Sección con columnas*/
h3 {
	/*outline: 1px solid blue;*/
	color: #212529;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 100px;
}

#uno {
	background-image: url(../assets/images/portfolio/cabin.png);
	margin: 15px;
}

#dos {
	background-image: url(../assets/images/portfolio/cake.png);
	margin: 15px;
}

#tres {
	background-image: url(../assets/images/portfolio/circus.png);
	margin: 15px;
}

#cuatro {
	background-image: url(../assets/images/portfolio/game.png); 
	margin: 15px;
}

#cinco {
	background-image: url(../assets/images/portfolio/safe.png);
	margin: 15px;
}

#seis {
	background-image: url(../assets/images/portfolio/submarine.png);
	margin: 15px;
}

.about {
	background: #18BC9C;
	height: 700px;
	width: auto;
	padding: 0;
}

.about h3 {
	color: #fff;
}

/*Tabla para las columnas*/
table {
	margin:auto;
	/*outline: 1px solid blue;*/
}

td {
	color: #fff;
	font-family: 'Montserrat', sans-serif; 
	font-size: 25px;
    line-height: 35px;
    padding: 50px;
    vertical-align: top;
    width: 50%;
    padding-bottom: 20px;
}

.columna1 {
	height: 300px;
	width: 500px;
}

.columna2 {
	height: 300px;
	width: 500px;
	margin-top: 0;
}

/* Boton Download */
.download {
	background-color: #18BC9C;
	border: 2px solid #FFF;
	border-radius: 6px;
	padding: 5px 10px;
	padding-bottom: 0;
	margin: 0 40%;
}

.download p {
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
}

.download:hover {
	background-color: #FFF;
	color: #18BC9C;
	cursor: pointer;
	transition: background-color 0.8s ease-out;
}

/* Sección CONTACTME*/
.contactame {
	width: 100%;
	height: 800px;
	padding: 0;
	padding-left: 25%;
	padding-right: 25%;
}

.container1 {
	height: 900px; 
	width: 900px;
	margin: 0;
	padding-bottom: 20px;
}

.contactame h3{
	/*outline: 1px solid yellow;*/
	color: #212529;
	font-size: 50px;
	text-transform: uppercase;
	padding-bottom: 50px;
}

div p{ 
	color: #212529;
	font-size: 27px;
	text-align: left;
	font-family: 'Montserrat', sans-serif; 
}

.container1 hr:last child{
	padding-top: 100px;
}

.boton {
	background-color: #18BC9C;
	border-radius: 6px;
	margin: 0 90%;
	margin-left: 0; 
}

.boton p {
	color: #fff;
	text-align: center;
	font-size: 25px;
	margin: 0;
	padding: 5px
	padding-bottom: 20px;
}

.boton:hover {
	background-color: #FFF;
	color: #18BC9C;
	cursor: pointer;
	transition: background-color 0.8s ease-out;
}

.class colum3 a {
	color: #18BC9C;
}
table {
	margin:auto;
	/*outline: 1px solid blue;*/
}

td {
	color: #fff;
	font-family: 'Montserrat', sans-serif; 
	font-size: 25px;
    line-height: 35px;
    padding: 50px;
    vertical-align: top;
    width: 50%;
    padding-bottom: 20px;
}

.colum1 {
	height: 300px;
	width: 500px;
}

.colum2
 {
	height: 300px;
	width: 500px;
	margin-top: 0;
}

.fondo3 {
	height: 900px;
	width: auto;
	background: #2C3E50;
	padding: 0;
	margin: 0;
}

/*.primero {
	outline: 1px solid red;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	/*color: #fff;*/
	/*border-top: 0;
	margin-top: 0;
	border-right: auto;
	padding-left: 180px;
	float: left;
	margin-right: 500px;
	display: block;
}

.segundo {
	/*outline: 1px solid purple; */
	/*
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	/*color: #fff;*/
}
/*
.segundo p {
	outline: 1px solid black;
	margin: 22px;
	float: left;
}

